/* GENERAL RULES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

body{
    background-color: white;
    color: rgb(187, 191, 196);
}

ul{
    list-style: none;
}

nav img{
    height: 30px;
}

.Home img{
    width: 100%;
}

.Press img{
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

/* HEADER */

header{
    position: fixed;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

nav div:nth-child(2n){
    display: flex;
    gap: 10px;
    color: white;
}

nav ul{
    display: flex;
}

nav li{
    padding: 0 15px;
}

nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: all .2s;
}

nav a:hover{
    background-color:#6371d8;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
}

/*mobile version*/
@media (max-width:766px) {
    nav div ul{
        display: none;
    }
    .Home-img{
        display: none;
    }
    .img_big{
        display: none;
    }
}

/*other big versions*/
@media (min-width:766px) {
    nav svg{
        display: none;
    }
    .img_mob{
        display: none;
    }
}

/* HOME */

.Home{
    padding: 0;
 }

.Home-txt{
    color:rgb(255, 255, 255);
    position: absolute;
    left: 20px;
    top: 11%;
    width: 80%;
    margin: 80px 0;
}

.Home-txt h1{
    margin-bottom: 20px;
    font-weight:bold;
    font-size:35px;
}

.Home-txt h2{
    color:rgb(255, 255, 255);
    margin-bottom: 30px;
    text-align: left;
}

.Home-txt a{
    color: rgb(255, 255, 255);
}

.Home-txt>a{
    background-color: #2c3baf;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 25px;
    transition: all .3s ease-in-out;
}

.Home-txt>a:hover{
    background-color: rgba(255, 255, 255, 0) !important;
    border: solid 2px #575656;
    font-weight: 600;
}

/*
.Home-img{
    position: absolute;
    left: 30%;
    width: 30%;
}

.Home{
    background-image: url(background.jpg);
}

.Home-background{
    position: absolute;
}

*/

/*other big versions*/
@media (min-width:766px) {
    .Home{
        font-size:xxx-large;
    }
    .Home-txt h1{
        margin-bottom: 50px;
        font-weight:bold;
        font-size:150%;
    }
    
    .Home-txt h2{
        color:rgb(255, 255, 255);
        margin-bottom: 30px;
        font-size:120%;
        text-align: left;
    }
    .Home-txt{
        color:rgb(255, 255, 255);
        position: absolute;
        left: 5%;
        bottom: -60%;
        width: 70%;
        margin: 80px 0;
    }
    .Home-img{
        width: 15%;
        position: absolute;
        right: 10%;
        bottom: 20%;
    }
}

/* ABOUT US */

section{
    padding: 80px 0;
}

.section-head{
    margin: 0 0 50px;
    padding: 0 15px 50px;

}

h2{
    color: #575656;
    margin: 20px 0 10px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

h3{
    margin: 20px 0 10px;
    text-align: center;
    font-weight: 400;
}

p{
    margin: 0 15px 24px;
}

.About div div img{
    width: 100%;
    padding: 0 15px;
    border-radius: 5%;
}

.About div div h2{
    text-align: left;
    padding: 0 15px;
}

.About a{
    display: inline-block;
    /*nowwrap*/
    width: 30%;
    background-color: #6371d8;
    color: white;
    padding: 10px 20px;
    margin: 0 15px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.About a:hover{
    background-color: rgb(66, 66, 66);
}

/*other big versions*/
@media (min-width:766px) {
    .section-head{
        margin: 70px 0;
        padding: 0 15px 50px;
    
    }
    .About>div:last-child{
        display: flex;
    }
    .About{
        padding: 0 10%;
    }
}

/* TEAM */

.Team img{
    width: 150px;
    border-radius: 50%;
}
.Team div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.persone{
    margin: 0 0 40px;
}

.social ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.social li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6371d8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.social li a{
    color: white;
}

.Team h2{
    margin-bottom: 40px;
}

.Team h3{
    color: #575656;
    font-size: 25px;
}

h4{
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 20px;
}

/*other big versions*/
@media (min-width:766px) {
    .Team{
        padding: 5% 10%;
    }
    .Team>div:last-child{
        display: flex;
        flex-direction: row;
    }
    .persone{
        text-align: center;
    }
}

/*SERVICES*/

.Services{
    background-color: #f4f4f4;
}

.Services img{
    height: 45px;
    position: absolute;
    left: 44%;
    top: 0px;
}

.Services>div:nth-child(2n){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Services div div{
    background-color: white;
    padding: 30px;
    margin-bottom: 60px;
    width: 90%;
    position: relative;
}

.Services h3{
    color: #575656;
    font-size: 20px;
    margin-top: 40px;
}

.Services p{
    text-align: center;
}

/*other big versions*/
@media (min-width:766px) {
    .Services{
        padding: 5% 10%;
    }
    .Services>div:last-child{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .persone{
        text-align: center;
    }
    .Services div div{
        background-color: white;
        padding: 30px;
        margin-bottom: 60px;
        width: 27%;
        position: relative;
    }
}

/* FEATURES */

.Features img{
    height: 55px;
    margin: 0 40px 0 0;
}
.Features>div:nth-child(2n){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one_feature{
    display: flex;
    width: 90%;
    margin: 0 0 30px;
}

.one_feature h3{
    color: #575656;
    font-size: 22px;
    text-align: left;
    margin: 0 0 10px;
}

.one_feature p{
    margin: 0 0 25px;
}

.Features>div a{
    display: block;
    background-color: #6371d8;
    color: white;
    padding: 10px 20px;
    margin: 0 15px 25px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.Features>div a:hover{
    background-color: rgb(66, 66, 66);
}

/*other big versions*/
@media (min-width:766px) {
    .Features{
        padding: 0 10%;
    }
    .Features>div:nth-child(2n){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .one_feature{
        background-color: white;
        padding: 30px;
        margin-bottom: 60px;
        width: 27%;
    }
    .Features>div:last-child{
        margin: 0px 30%;
    }

}

/* TESTIMONIALS */

.Testimonials{
    background-color: #6371d8;
}

.Testimonials h2{
    color: white;
}

.Testimonials h3{
    font-size: 25px;
    font-weight: 400;
}
.Testimonials div div{
    display: flex;
    flex-direction: column;
}

.quote{
    padding: 0 15px;
    margin: 20px 0;
    position: relative;
}

.quote span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2c3baf;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    position: absolute;
    top: -30px;
    left: 20px;
}

blockquote{
    background-color: white;
    border-radius: 4px;
    font-style: italic;
    padding: 40px;
    margin: 0 0 20px;
}

blockquote p{
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

.quote>p{
    color: white;
    font-weight: 600;
}

.quote>p a{
    text-decoration: none;
    color: rgb(217, 221, 226);
    font-weight: 600;
}

/*other big versions*/
@media (min-width:766px) {
    .Testimonials{
        padding: 5% 10%;
    }
    .Testimonials>div:last-child{
        display: flex;
    }
    .quote{
        padding: 0 15px;
        margin: 20px 0;
        width: 40%;
    }
}

/* PRICING */

.Pricing>div:nth-child(2n){
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.price-box{
    border: solid 2px rgb(217, 221, 226);
    border-radius: 4px;
    padding: 30px;
    margin: 0 0 40px;
    text-align: center;
    color: #575656;
}

.price-box h2 {
    margin: 0;
    font-size: medium;
    font-weight: bold;
    color: black;
}

.price-box div{
    margin: 0 0 10px;
    font-size: 40px;
    font-weight: 500;
    color: black;
}

.price-box ul{
    margin: 15px;
}

.price-box li{
    padding: 2px;
}

.price-box a{
    display: inline-block;
    border: solid 2px rgb(217, 221, 226);
    color: rgb(66, 66, 66);
    padding: 10px 10px;
    margin: 0 120px 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.price-box a:hover{
    color: white;
    background-color: rgb(66, 66, 66);
    border: 0;
}

/*other big versions*/
@media (min-width:766px) {
    .Pricing{
        padding: 0 10% 10%;
    }
    .Pricing>div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
    .price-box{
        padding: 0 15px;
        margin: 20px 0;
        width: 20%;
    }
}

/* PRESS */

.Press{
    background-color: #f4f4f4;
}

.Press>div:last-child{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.one-press{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.one-press h3{
    text-align: left;
    padding-left: 20px;
    font-weight: 600;
    color: #575656;
}

.one-press p{
    padding-left: 5px;
}

.one-press a{
    display: inline-block;
    background-color: #6371d8;
    color: white;
    padding: 6px 20px;
    margin: 0 20px 25px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.one-press a:hover{
    background-color: rgb(66, 66, 66);
}

/*mobile version*/
@media (max-width:500px) {
    .img2-v{
        display: none;
    }
}

/*other big versions*/
@media (min-width:500px) {
    .img2-H{
        display: none;
    }
}

/*other big versions*/
@media (min-width:766px) {
    .Press{
        padding: 5% 10%;
    }
    .Press>div:last-child{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .one-press{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        padding: 0 15px;
        margin: 20px 0;
        width:40%;
    }
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

footer p{
    color: #575656;
    text-align: center;
}

footer div:first-child a{
    text-decoration: none;
    color:#6371d8
}

footer div:first-child a:hover{
    text-decoration: underline;
}

.f-social ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.f-social li{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6371d8;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.f-social a{
    color: white;
}
